* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="iphone4_files/u0_normal.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="top_bar_files/u5_normal.png");
}

* html .u8_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u8_normal.png");
}

* html .u10_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u10_normal.png");
}

* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u12_normal.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="top_bar_files/u5_normal.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u8_normal.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/填写验证码_填写手机号_u20_normal.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u23_normal.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/填写验证码_下一步按钮_u26_normal.png");
}

* html .u30_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u30_normal.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u32_normal.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u34_normal.png");
}

* html .u39_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u42_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u45_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u48_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u51_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u54_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u57_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u60_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u63_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u66_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u66_normal.png");
}

* html .u68_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u71_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u66_normal.png");
}

* html .u73_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u73_normal.png");
}

* html .u75_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u75_normal.png");
}

* html .u85_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u85_normal.png");
}

* html .u87_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u87_line.png");
}

* html .u88_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u88_normal.png");
}

* html .u91_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="top_bar_files/u5_normal.png");
}

* html .u94_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u8_normal.png");
}

* html .u96_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u96_normal.png");
}

* html .u98_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/填写手机号_区域码选择框_u98_normal.png");
}

* html .u100_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u100_line.png");
}

* html .u101_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u101_normal.png");
}

* html .u107_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/填写验证码_下一步按钮_u26_normal.png");
}

* html .u111_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u30_normal.png");
}

* html .u113_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u32_normal.png");
}

* html .u115_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u34_normal.png");
}

* html .u118_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u30_normal.png");
}

* html .u120_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u32_normal.png");
}

* html .u122_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u34_normal.png");
}

* html .u125_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u30_normal.png");
}

* html .u127_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u32_normal.png");
}

* html .u129_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u34_normal.png");
}

* html .u134_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u137_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u140_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u143_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u146_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u149_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u152_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u155_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u158_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u161_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u66_normal.png");
}

* html .u163_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u166_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u66_normal.png");
}

* html .u168_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u73_normal.png");
}

* html .u170_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u75_normal.png");
}

* html .u180_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u85_normal.png");
}

* html .u182_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u182_line.png");
}

* html .u184_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="top_bar_files/u5_normal.png");
}

* html .u187_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u187_normal.png");
}

* html .u189_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u8_normal.png");
}

* html .u192_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u192_normal.png");
}

* html .u194_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u194_line.png");
}

* html .u199_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/登录_登录按钮_u199_normal.png");
}

* html .u201_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/登录_注册按钮_u201_normal.png");
}

* html .u204_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u30_normal.png");
}

* html .u206_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u32_normal.png");
}

* html .u208_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u34_normal.png");
}

* html .u212_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u30_normal.png");
}

* html .u214_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u32_normal.png");
}

* html .u216_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u34_normal.png");
}

* html .u219_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u30_normal.png");
}

* html .u221_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u32_normal.png");
}

* html .u223_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u34_normal.png");
}

* html .u227_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u227_normal.png");
}

* html .u229_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/手机找密码按钮_u229_normal.png");
}

* html .u231_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/手机找密码按钮_u229_normal.png");
}

* html .u233_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/取消按钮_u233_normal.png");
}

* html .u236_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u239_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u242_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u245_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u248_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u251_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u254_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u257_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u260_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u263_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u66_normal.png");
}

* html .u265_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u39_normal.png");
}

* html .u268_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u66_normal.png");
}

* html .u270_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u73_normal.png");
}

* html .u272_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u75_normal.png");
}

* html .u282_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u85_normal.png");
}

* html .u284_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u284_line.png");
}

* html .u290_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="top_bar_files/u5_normal.png");
}

* html .u309_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/介绍_进入友联按钮_u309_normal.png");
}

* html .u314_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="top_bar_files/u5_normal.png");
}

* html .u320_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="home_files/u320_normal.png");
}

* html .u327_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u327_normal.png");
}

* html .u333_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u333_line.png");
}

* html .u334_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u327_normal.png");
}

* html .u341_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u341_line.png");
}

* html .u343_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u327_normal.png");
}

* html .u356_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="友联_files/u356_line.png");
}

